body {
  color: #fff;
  line-height: 1.6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
